body{
    background-color: #fff75c;    
}
.tbl{
    display: grid;
    place-items: left;
    text-align: center;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    border: 1px solid #c3af15;
    margin-bottom: 20px;

    box-shadow: 7px 7px #887a11;
}
.img-container{
    width:15%;
}
article{
    padding:20px;
    border: 3px solid #887a11;
    box-shadow: 8px 8px #887a11;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;       
    margin: 0;  
}
.hm-btn button{
    background-color: #fff75c;
    border: none;
    font-size: x-large;
}
